.hero.is-landing {
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url('images/hero-background.jpeg') no-repeat center center fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: bottom;
}

.hero .subtitle {
  padding-top: 3rem;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.section {
  margin-top: 4rem;
}
.section .title {
  margin-bottom: 2rem;
}

.cta .content {
  font-size: 1.5rem;
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.1/css/bulma.css");

/* Reverse columns when mobile */
@media(max-width: 767px) {
  .reverse-mobile {
    flex-direction: column-reverse;
    display: flex;
  }
}

.text-large {
  font-size: 1.3rem;
}

.colored-link {
  font-weight: bold;
  color: #2A5D68;
}

.section p {
  color: #2A5D68;
}

.footer p {
  color: #2A5D68;
}

.section h2 {
  font-weight: bold;
  color: #2A5D68;
}

.section h4 {
  font-weight: bold;
  color: #2A5D68;
}

html {
  scroll-behavior: smooth;
}

/* put general page settings here */
body {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
}

.colored-button {
  background: #FE777D;
  border-radius: 10px;
  color: white;
  border: none;
}

.telegram-colored-button {
  background: #039BE5;
  border-radius: 10px;
  color: white;
  border: none;
}

.telegram-colored-button:hover {
  color: white;
  background-color: turquoise;
}

.social-icon {
  font-size:48px;
  color: #2A5D68;
}

.colored-input {
  border-style: solid;
  border-width: 0.1rem;
  border-color: #2A5D68;
}
